$green: rgb(91, 144, 91);
$light-green: rgb(116, 163, 116);
$lighter-green: rgb(170, 214, 170);
$white: rgb(255,255,255);

// LINKS ........
$hover-link: rgb(255,255,255);

$visited-link: rgb(197, 197, 197);

$header-link: rgb(95, 209, 230);

$text-blue: #19212e;

$placeholder-blue: #8d9bb1;

$bg-blue: #fafbff;
